<div class="form-group">
    <label for="title"> Títol </label>
    <input required value="<%= article.title %>" type="title" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="description"> Descripció </label>
    <textarea name="description" id="description" class="form-control"> <%= article.description %> </textarea>
</div>

<div class="form-group">
    <label for="markdown"> # </label>
    <textarea name="markdown" id="markdown" class="form-control"> <%= article.markdown %> </textarea>
</div>

<a href="/" class="btn btn-secondary">&lt; Cancel·lar</a>
<button type="submit" class="btn btn-primary"> Guardar </button>
